<header class="bg-dark py-5" style="background-image: url('https://img.freepik.com/fotos-gratis/onda-em-estrutura-de-arame-cinza-com-formas-geometricas-em-um-fundo-preto_53876-129584.jpg?w=1800&t=st=1706844692~exp=1706845292~hmac=f930e723f8829d9a5d93b0c19b45f30f3107d1bbd45a817f8986518ba0d8f911')">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">About the Organization</h1>
                    <p class="lead text-white-50 mb-4">Learn how the team and committee leadership are shaping the world of conferences,
                        get the latest conference news and updates on our blog, and contact us for guidance.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="join">Join Now!</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<h1 class="text-center">About</h1>
<p class="text-center">We believe in transparency, cooperation globally, and the free exchange of talent and ideas.
    A forum for the sharing of these technical and humanitarian discussions is given for meetings, conferences and other events.
    We are also committed to creating a secure, constructive and supportive for all participants in conferences, activities and meetings who participate in these discussions with us.
    
Discover the transformative influence of our dedicated team and committee leadership in shaping the dynamic world of conferences. Stay informed and engaged with the latest developments, news, and updates on our comprehensive blog dedicated to the conference ecosystem. Explore the forefront of innovation, insights, and trends that our team actively contributes to.

</p>
<div class="text-center"><button class="btn btn-outline-dark mt-auto" (click) = "clickMe()">>Click here to get a free gift!</button></div><br>
<p class="text-center" style="font-weight: bold;"> You claimed the gift {{ clickCount }} times.</p>
<p class="text-center">Conferences are a part of the legacy of this organization and continue today to be a catalyst for creativity.
    We are commited to developing strategies that support and expand the conference activities throughout the world.
</p>